@import "./colors";
@import "./variables";

@mixin wrapper() {
  width: 100vw;
  margin: 10px auto;
  min-height: calc(100vh - 134px);
  display: block;
}

@mixin full-center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin inline-message($border-color, $font-color) {
  border: 1px solid $border-color;
  color: $font-color;
  width: $space-7;
  text-align: center;
  display: block;
  padding: 3px;
}
