@import "./mixins";
@import "./materialize";
@import "./icon.css";

body {
  margin: auto;
  padding: 0;
}

main.wrapper {
  @include wrapper();
}

.inline-error-message {
  @include inline-message($error-color-1, $error-color-1);
}
.inline-warning-message {
  @include inline-message($warning-color-1, $warning-color-1);
}

.file-field {
  cursor: pointer;
  padding-left: $space-1;
}

.container > * {
  margin: auto;
}
